@using Microsoft.AspNetCore.Http

@{
    //ViewBag.Title = Model.Title;
}

<!-- Page Heading -->
<h1 class="my-4">Batch 97
    <small>sections</small>
</h1>


@if (User.Identity.IsAuthenticated) // && User.IsInRole("Administrator"))
{
    <a asp-action="Create">Create New Section</a>    
}
