@model batch97.Models.SectionPage
@inject Piranha.IApi Api
@{
    //ViewBag.Title = Model.Title;
}

    <!-- Page Heading -->
    <h1 class="my-4">@Model.Title
      <small>sections</small>
    </h1>


@foreach (var item in Model.Alumni)
{

}

